/AbstractRotaryEncoder.class
/Control.class
/DoubleNumberRotaryEncoder.class
/EnumRotaryEncoder.class
/NumberRotaryEncoder.class
/PushButton.class
/PushRotaryEncoder.class
/RotaryEncoderDirection.class
